#navbar {
    background-color:dimgray;
    display: flex;
    justify-content: center;
    align-content: flex-start;
}

#navbar a {
    margin: 8px;
    text-decoration: none;
    color: white;
    font-size: 15pt;
    font-weight: bold;
}

#hotproducts img {
    height: 100px;
    width: 100px;
    display: block;
}

#navbar img {
    height: 20px;
    width: 20px;

}

#cart {
    position: relative;
    border-radius: 7px;
    background-image: url(./images/cart.png);
    background-position: center;
    background-size: contain;
    width: 45px;
    height: auto;
    
}

#cartCount {
    position: absolute;
    left: 45%;
    top: 13%; 
    font-weight: bolder;
    color: rgb(161, 6, 14);
}

.mainimages {
    height: 300px;
    width: auto;
}

#flex-container {
    display: flex;
}

#hotproducts {
    flex: 20%;
    background-color: antiquewhite;
}

#main {
    flex: 80%;
    background-color: rgb(196, 255, 214);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
} 