div > ul{
    list-style-type: none;
} 

.navbar a {
    padding: 10px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    color:aliceblue;
}

.navbar {
    display: flex;
    text-align: center;
    background-color: dodgerblue;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100vw;
}

.flexcontainer {
    display: flex;
}

.side-menu {
    flex: 20%;
    margin: 20px;
    background-color: antiquewhite;
}

.side-menu a{
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.image {
    display: flex;
    flex: 55%;
    justify-content: center;
    align-content: center;
    margin: 20px;
    background-color:azure;
    display: block;
}

.video {
    flex: 25%; 
    margin: 20px;
    background-color: lightgray;
}
 
.video video {
    width: 320px;
    height: 240px;
}

#text {
    text-align: justify;
}

#background {
    background-image: url("../myFirstWebsite/images/kame_house.png");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}