div img {
    width: 50px;
    height: auto;
}

img {
    display: block;
}

div:hover img {
    transform: translate(400px, 0);
}

#car1 {
    transition: transform 5s;
    transition-timing-function: ease;
}

#car2 {
    transition: transform 5s;
    transition-timing-function: ease-in;
}

#car3 {
    transition: transform 5s;
    transition-timing-function: ease-in-out;
}

#car4 {
    transition: transform 5s;
    transition-timing-function: ease-out;
}

.videos {
    position: relative;
    animation-name: videos;
    animation-duration: 8s;
    animation-iteration-count: infinite;

}

@keyframes videos {
    /*
    0%   {left:0px; top:0px;}
  25%  {left:65%; top:0px;}
  50%  {left:65%; top:200px;}
  75%  {left:0px; top:200px;}
  100% {left:0px; top:0px;}
  */
}

#video1 {
    position: relative;
    width: 320px;
    height: 240px;
    position: relative;
    animation-name: videos;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-name: video1;
    display: block;
    animation-iteration-count: infinite;
}

#video2 {
    width: 320px;
    height: 240px;
    position: relative;
    animation-name: videos;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-duration: 16s;
    animation-name: video2;
    display: block;
    animation-iteration-count: infinite;
}

@keyframes video1 {
    0% {
        left: 0px;
        top: 0px;
        filter: grayscale(0%)
    }

    25% {
        left: 65%;
        top: 0px;
        filter: grayscale(25%)
    }

    50% {
        left: 65%;
        top: 200px;
        filter: grayscale(50%)
    }

    75% {
        left: 0px;
        top: 200px;
        filter: grayscale(75%)
    }

    100% {
        left: 0px;
        top: 0px;
        filter: grayscale(100%)
    }
}

@keyframes video2 {
    0% {
        left: 0px;
        top: 0px;
        filter: sepia(0%)
    }

    25% {
        left: 50%;
        top: 0px;
        filter: sepia(25%)
    }

    50% {
        left: 75%;
        top: 200px;
        filter: sepia(50%)
    }

    75% {
        left: 0px;
        top: 200px;
        filter: sepia(75%)
    }

    100% {
        left: 0px;
        top: 0px;
        filter: sepia(100%)
    }

}